body{
    margin: 0px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, sans-serif;
}

#tabla{
    width: 600px;
    height: 600px;
    border: 4px solid black;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#tabla div{
    background-color: wheat;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    color: black;
    font-size: 120px;
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    text-align: center;
    line-height: 200px;
}

#tabla div:hover{
    background-color: rgb(214, 197, 165);
    cursor: pointer;
}

button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: wheat;
    border: 2px solid black;
    cursor: pointer;
    font-size: 30px;
}
button:hover{
    background-color: rgb(214, 197, 165);
}


